# Created by .ignore support plugin (hsz.mobi)
### Java template
### All For Java template

### Intellij+iml ###
.idea
*.iml
*.ipr
*.iws
out/
.idea_modules/

# CMake
cmake-build-*/

# JIRA plugin
atlassian-ide-plugin.xml


### Java ###
*.class
*.log
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Recycle Bin used on file shares
$RECYCLE.BIN/
